{% extends "base.html" %}
{% block title %}Store - Low Prices & more{% endblock %}

{% block content %}

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="album py-5">
                    <div class="pb-3">
                        <h1 class="h3">Popular</h1>
                    </div>
                    {% if not products %}
                        <div class="col-12">There are currently no products active</div>
                    {% else %}
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                            {% for product in products %}
                                <div class="col">
                                <a href="{{ product.get_absolute_url }}" class="text-decoration-none">
                                    <div class="card border-0">
                                        {% for image in product.product_image.all %}
                                            {% if image.is_feature %}
                                                <img class="img-fluid" alt="{{ image.image.alt_text }}"
                                                     src="{{ image.image.url }}">
                                            {% endif %}
                                        {% endfor %}
                                        <div class="card-body px-0">
                                            <p class="card-text">
                                                <span class="text-dark">{{ product.title|slice:":50" }}...</span>
                                            </p>
                                            <p>{{ product.description|slice:":150" }}...</p>
                                            <div class="fw-bold">€{{ product.regular_price }}</div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}