{% extends "base.html" %}
{% load static %}
{% block title %}Payment Canceled{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-12">
            <h1 class="h2">Payment Canceled</h1>
        </div>
        <div class="col-12">
            <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
        </div>
        <hr/>
        <div class="col-12">
            <p>View all <a href="{% url 'catalogue:store_home' %}">All Products</a></p>
        </div>
    </div>

{% endblock %}